{

            "presets": [
              ["env", {
                  "debug": false,
                  "useBuiltIns": true,
                  "modules": false,
                  "targets": {
                    "browsers": [
                      "last 1 chrome versions",
                      "last 1 safari versions",
                      "last 1 edge versions",
                      "last 1 firefox versions",
                      "last 1 ios_saf versions",
                      "not dead"]
                   },
                   "uglify": "false"
                }]
            ],
            "plugins": [
              ["transform-class-properties", { "spec": true }]
            ]


}
