.container {
  box-sizing: border-box;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.CodeMirror {
  border: 1px solid #000;

  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-scroll {
  height: auto;
  min-height: 100px;
}

#waveform-container {
  width:100%;
  height: 168px;
  overflow:hidden;
  padding: 20px 0;
}

#waveform {
  width:100%;
  height: 128px;
  display: inline-block;
}

.hidden {
  display:none !important;
}

.codemirror-container {
}

.contains-errors .button-bar {
  opacity: 0.25;
}

.button-bar {
  float: right;
  background-color: #fff;
}

body, #app, .Editor {
  background-color: #fff;
  height:100%;
  width:100%;
  padding: 00;
  margin:0;
}

#header-container {
  top: 0px;
  height: 48px;;
}

.bar-button {
  display:inline-block;
  font-size: 20pt;
  background-color: #fff;
  color:black;
  border:none;
  width: 48px;
  height: 48px;
  border-left: 2px solid #ddd;
}

.CodeMirror-hints {
  z-index: 200;
}
