@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

article {
  box-sizing: border-box;
  padding: 0px 40px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 22pt;
  font-size: 18px
}

.duck-editor .CodeMirror {
  margin: 0;
}

.duck-editor {
  margin: 24px 0 4px 0;
}

.CodeMirror {
  margin: 24px 0 4px 0;
  height: auto;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  line-height: normal;
}

.CodeMirror.live {
  width: calc(100% + 75px);
  left: -76px;
}

.CodeMirror > pre {
  padding: 4px 4px;
}

.duck-waveform {
  width: 100%;
  height: auto;
  margin-top: 4px;
  margin-bottom: -6px;
  overflow-x: scroll;
  height: 140px;
}

.duck-waveform img {
  height: 128px;
}

.container {
  box-sizing: border-box;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.CodeMirror-linenumber {
  color: #333 !important;
  padding-right: 10px;
  min-width: 44px;
}

.CodeMirror-gutters {
  background-color: white !important;
  color: #333 !important;
}

.hidden {
  display: none !important;
}

.codemirror-container {}

.contains-errors .button-bar {
  opacity: 0.25;
}

.button-bar {
  float: right;
  background-color: #fff;
}

body {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 00;
  margin: 0;
}

.bar-button {
  display: inline-block;
  font-size: 20pt;
  background-color: #fff;
  color: black;
  border: none;
  width: 48px;
  height: 48px;
  border-left: 2px solid #ddd;
}

.CodeMirror-hints {
  z-index: 200;
}
